<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus_s550cb.theo.museum"
    android:configChanges="locale">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:configChanges="locale"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".StartGame"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_start_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Hangman"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".ChurchMap"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".ClickMe"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".PuzzleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".QuizGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"

            >
        </activity>
        <activity
            android:name=".QrCodeScanner"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
           >
        </activity>
        <activity
            android:name=".MatchingCoins"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".RightOrder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".HelpscreenSliderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="landscape"
           >
        </activity>
        <activity
            android:name=".LoadingScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loading_screen"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".HelpDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_help_dialog"
            android:screenOrientation="landscape"
           >
        </activity>
        <activity
            android:name=".Score"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_help_dialog"
            android:screenOrientation="landscape"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".UploadScoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".UploadScoreFromLocalDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".DownloadOtherMuseumsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_credits"
            android:screenOrientation="landscape"
           >
        </activity>
        <activity
            android:name=".CodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_insert_code"
            android:screenOrientation="landscape"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".PauseMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pause_menu"
           >
        </activity>
    </application>

</manifest>
